---
layout: archive
title: "Projects & publications"
permalink: /publications/
author_profile: true
---

<style>
  .page__title { display: none; }
</style>

{% if site.author.googlescholar %}
  <div class="wordwrap"><i>You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a></i>.</div>
{% endif %}

{% include base_path %}

{% for project in site.data.projects %}
  <h2>{{ project.title }}</h2>
  <hr />
  {{ project.description | markdownify }}

  {% assign project_pubs = site.publications | where: "project", project.id | sort: "date" | reverse %}
  {% for post in project_pubs %}
    {% include publication-single.html %}
  {% endfor %}
{% endfor %}

{% assign untagged = site.publications | where_exp: "post", "post.project == nil" | sort: "date" | reverse %}
{% if untagged.size > 0 %}
  <h2>Other publications</h2>
  <hr />
  {% for post in untagged %}
    {% include publication-single.html %}
  {% endfor %}
{% endif %}